<div class="date-picker-container">
    @if (label()) {
    <label [for]="customId()">{{ label() }}</label>
    }

    <div [class]="'date-picker-input ' + (hasError() ? 'input-error-border' : '')">
        <input [id]="customId() + 'date'" (change)="onDateChange($event)"  class="hidden-date" #dateInput type="date">
        <input [id]="customId()" type="text" [formControl]="date"  (blur)="onTouched()"
            (click)="dateInput.showPicker()" />

    </div>

    <div class="error-container">
        <ng-content select="error-messages"></ng-content>
    </div>

</div>
