// Slate colors
$slate-100: #f8f9faff;
$slate-200: #e9ecefff;
$slate-300: #dee2e6ff;
$slate-400: #ced4daff;
$slate-500: #adb5bdff;
$slate-600: #6c757dff;
$slate-700: #495057ff;
$slate-800: #343a40ff;
$slate-900: #212529ff;

// Success colors
$success-50: #d9ed92ff;
$success-100: #b5e48cff;
$success-200: #99d98cff;
$success-300: #76c893ff;
$success-400: #52b69aff;
$success-500: #34a0a4ff;
$success-600: #168aadff;
$success-700: #1a759fff;
$success-800: #1e6091ff;
$success-900: #184e77ff;

// Primary colors
$primary-100: #fbf8e6;
$primary-200: #f7f1cd;
$primary-300: #f3e9b4;
$primary-400: #efe282;
$primary-500: #f5df66; // base
$primary-600: #d1be55;
$primary-700: #ad9d44;
$primary-800: #897a33;
$primary-900: #655622;

// Error colors
$error-100: #ffe5e5;
$error-200: #ffcccc;
$error-300: #ffb2b2;
$error-400: #ff9999;
$error-500: #ff6666;
$error-600: #cc5252;
$error-700: #993d3d;
$error-800: #662929;
$error-900: #331414;
