@use "variables" as vars;

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 840px;
    padding: 1rem;
    border: 1px solid vars.$slate-300;
    border-radius: 4px;
    background-color: white;

    .main-form__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid vars.$slate-700;
    }

    .main-form__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0 0 0;
        box-sizing: border-box;
        padding: 0 5rem;

        .form-fields {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            margin: 0.5rem 0;
            flex: 1;

            app-input {
                display: flex;
                flex: 1;
            }
        }
    }

    .main-form__footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0 0 0;
        gap: 1rem;
        box-sizing: border-box;
        padding: 0 5rem;
    }
}
