<div class="input-container">
    @if (label()) {
    <label [for]="customId()">{{ label() }}</label>
    }
    <input [id]="customId()" [type]="type()" [class]="hasError() ? 'input-error-border' : ''"
        [placeholder]="placeholder() ?? ''" [value]="value()" (input)="onInput($event)" (blur)="onBlur()"
        [disabled]="isDisabled()" />

    <div class="error-container" [style.height]="sizing() === 'fixed' ? '1rem' : '0'">
        <ng-content select="error-messages"></ng-content>
    </div>

    @if (hint() ) {
    <span class="input-hint"> {{ hint() }} </span>
    }
</div>